.api-example {
    width: 80vw;
    margin: 30px auto;
    padding: 60px;
    background-color: #fff;
    // border: 1px solid #000;
    color: #363636;

    & .example-container {
        // width: 80vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}



.example-text {
    flex: 1;

    & .section {
        text-align: left;
        margin-bottom: 1.5rem;
        font-size: 28px;
        font-weight: bold;
    }

    & p {
        font-size: 1.2rem;
        color: #2c2c2c;
        line-height: 1.6;
    }
}

.example-code {
    flex: 1;
    background: #f9f9f9;
    padding: 1rem 2rem 0;
    border-radius: 2px;
    // box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    border: 0.5px solid #DEE2E6;
    overflow-x: auto;
}