@import 'home.less';

.api-example {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
    background-color: #fff;
    

    & .example-container {
        width: 65vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

.example-item{
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 80px;
    padding: 20px;
}


.example-text {
    flex: 1;

    & .section {
        text-align: left;
        margin-bottom: 1.5rem;
        font-size: 28px;
        font-weight: 500;
        color: #212121;
    }

    & p {
        font-size: 1.2rem;
        color: #747474;
        line-height: 1.6;
    }
}

.example-code {
    flex: 1;
    background: @bg-gradient;
    font-size: 16px;
    padding: 1rem 2rem 0;
    border-radius: 12px;
    border: 1px solid transparent;
    overflow-x: auto;
}