.api-example {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
    background-color: var(--bg-color);


    & .example-container {
        width: 65vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

.example-item {
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 80px;
    padding: 20px;
}


.example-text {
    flex: 1;

    & .section {
        text-align: left;
        margin-bottom: 1rem;
        font-size: 28px;
        font-weight: 500;
        color: var(--font-color);
    }

    & p {
        font-size: 1.2rem;
        color: var(--title-font);
        line-height: 1.8;
    }
}

.example-code {
    flex: 1;
    background: var(--bg-gradient);
    color: var(--title-font);
    font-size: 16px;
    padding: 1rem 2rem 0;
    border-radius: 12px;
    border: 1px solid transparent;
    overflow-x: auto;
}