.banner {
    color: var(--font-color);
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: end;
    align-items: center;
    // border: 1px solid black;
    background: var(--banner-bg);
    box-shadow: var(--banner-shadow);
    position: sticky;
    z-index: 100;
    top: 0;

    & .content {
        width: 30vw;
        display: flex;
        justify-content: center;
        flex-direction: row;

        & div {
            padding: 10px;
        }

    }
}

.logo {
    color: var(--logo);
    cursor: pointer;

    & :hover {
        color: var(--logo-hover);
        transition: all .5s;
    }

    & a{
        color: inherit;
    }

    & svg {
        padding-top: 3px;
        width: 22px;
        height: 22px;
        display: flex;
        align-items: center;
    }
}

.theme {
    cursor: pointer;
    user-select: none;
}