@import 'home.less';

.features {
    padding: 60px;
    margin: 30px auto;
    width: 70vw;

    & .section-title {
        font-size: 50px;
        font-weight: bolder;
        padding: 20px;
        text-align: center;

        & span {
            background: @features;
            background-clip: text;
            color: transparent;
        }
    }

    & .features-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 50px;
    }

}

.feature-item {
    padding: 30px;
    border-radius: 12px;
    background: @bg-gradient;
    transition: transform 0.3s;
    border: 1px solid transparent;

    &:hover {
        transform: translateY(-5px);
    }

    & .feature-icon {
        font-size: 30px;
        margin-bottom: 20px;
    }

    & .feature-title {
        font-size: 20px;
        margin-bottom: 10px;
    }

    & .feature-desc {
        color: #666;
    }

}