.features {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);

    & .section-title {
        font-size: 50px;
        margin: 80px 50px 50px 50px;
        font-weight: bolder;
        text-align: center;

        & span {
            background: var(--features);
            background-clip: text;
            color: transparent;
        }
    }

    & .features-grid {
        width: 70vw;
        // max-width: 1200px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 50px;
    }

}

.feature-item {
    padding: 30px;
    border-radius: 12px;
    background: var(--bg-gradient);
    box-shadow: var(--box-shadow);
    transition: transform 0.3s;
    border: 1px solid transparent;

    &:hover {
        transform: translateY(-8px);
    }

    & .feature-icon {
        font-size: 36px;
        margin-bottom: 20px;
    }

    & .feature-title {
        font-size: 24px;
        margin-bottom: 10px;
        color: var(--font-color);
    }

    & .feature-desc {
        color: #666;
        font-size: 14px;
        color: var(--title-font);
    }

}