@bg-gradient: linear-gradient(135deg,
        #f1f6ff 0%,
        #ffffff 30%,
        #ffffff 70%,
        #fff2fd 100%) padding-box,
    linear-gradient(135deg,
        #a9b0b8 0%,
        #c5c5c5 20%,
        #c5c8cc 80%,
        #d1c3ce 100%) border-box;


@features: linear-gradient(150deg, #ff637d, #ffa7b6);

@title: linear-gradient(135deg, #74D3FF, #97AEFF, #A386FE);